.btn {

    border: none;
    border-radius: 0.2rem;
    cursor: pointer;

    &--primary {
        background-color: $color-primary;
        padding: 1.8rem 3.5rem;
        box-shadow: 0 0.5rem 3rem rgba($color-primary, 0.2);
    }

}
