*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 10px;
}

body {
    background-color: white;
    min-height: 100%;
    padding-bottom: 15rem;
}

section, .nav {
    padding-left: 15rem;
    padding-right: 15rem;

    @include size(1300) {
        padding-left: 7rem;
        padding-right: 7rem;
    }

    @include size(1150) {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}
