*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 10px;
}

body {
    background-color: white;
}

section, .nav {
    padding-left: 15rem;
    padding-right: 15rem;
}
