.mb-1_5 {
    margin-bottom: 1.5rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mb-2_5 {
    margin-bottom: 2.5rem;
}

.mb-3 {
    margin-bottom: 3rem;
}

.mr-2 {
    margin-right: 2rem;
}

.my-8 {
    margin: 8rem 0;
}

.mt-10 {
    margin-top: 10rem;
}

.mt-5_5 {
    margin-top: 5.5rem;
}

.mt-8 {
    margin-top: 8rem;
}

.ml-1 {
    margin-left: 1rem;
}

.ml-1_5 {
    margin-left: 1.5rem;
}

.ml-2 {
    margin-left: 2rem;
}

.ml-3 {
    margin-left: 3rem;
}

.ml-3_5 {
    margin-left: 3.5rem;
}
