.maxW {
    max-width: 1440px;
    margin: auto;

}

.flex {
    display: flex;
}

.t-center {
    text-align: center;
}

.bold {
    font-weight: 700 !important;
}

.space-between {
    justify-content: space-between;
}

.c-text-light {
    color: $color-light-text;
}

.opacity-3 {
    opacity: .3;
}

