$color-primary: #8D67E7;
$color-text: #3D4464;
$color-green: #97D8C4;
$color-blue: #57A3FF;
$color-purple: #EEEBFC;

$color-light-purple: #FBFAFF;
$color-light-blue: #E2EFFF;
$color-light-text: #A9ACBF;
$color-light-grey: #EFEFF5;

$base-font: 'Open Sans', sans-serif;
