.header {

    height: 42.5rem;
    background-color: $color-light-grey;

    &-home {
        @include size(1050) {
            height: 68rem;
        }

        @include size(700) {
            height: 80rem;
        }

        @include size(400) {
            height: 94rem;
        }
    }

    &-page {

        @include size(600) {
            height: 50rem;


            .headline--primary {
                padding-top: 5rem !important;
            }
        }

        @include size(500) {
            height: 55rem;
        }

        @include size(400) {
            height: 60rem;
        }


        .headline--primary {
            padding-top: 3rem;
        }
    }


    .nav {

        .maxW {
            padding-top: 4rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .logo {

            display: flex;
            align-items: center;
            font-weight: 700;

            img {
                height: 2.8rem;
            }

            &__text {
                font-size: 2rem;

                span {
                    color: $color-primary;
                }
            }

        }

        .menu {

            display: flex;
            align-items: center;
            list-style: none;

            @include size(600) {
                display: none;
            }

            &__item {

                &--selected {
                    position: relative;

                    &::after {

                        position: absolute;
                        bottom: -0.5rem;
                        content: "";
                        left: 0;
                        height: 0.2rem;
                        width: 1.5rem;
                        background-color: rgba($color-text, 0.3);

                    }
                }

                &:not(:last-child) {
                    margin-right: 3.5rem;
                }

                a {
                    font-weight: 700;
                    color: $color-text;
                    text-decoration: none;
                }

            }

        }
    }

    .hero {

        position: relative;

        &__img {
            width: 38rem;

            @include size(1000) {
                width: 25rem;
            }
        }

        &-helper {
            display: flex;
            justify-content: space-between;

            .area-switcher {

                position: relative;
                padding-left: 1rem;

                @include size(700) {
                    width: 30rem;
                    margin: auto;
                    padding-left: 0;
                }

                @include size(500) {
                    width: 100%;
                }


                select {
                    color: $color-primary;
                    font-family: $base-font;
                    font-size: 3.2rem;
                    border: none;
                    font-weight: 700;
                    background-color: transparent;
                    appearance: none;
                    display: inline-block;
                    cursor: pointer;
                    padding-right: 2.5rem;
                    outline: none;

                    @include size(500) {
                        width: 100%;
                    }

                }

                img {
                    position: absolute;
                    right: 0;
                    top: 55%;
                    width: 1.5rem;
                    transform: translateY(-50%);


                }


            }


            @include size(1050) {
                flex-direction: column;
                align-items: center;

                .hero-cont {
                    &:nth-child(1) {
                        order: 1;
                    }

                    &:nth-child(2) {
                    }
                }
            }
        }

        &-category {
            background: white;
            color: $color-primary;
            font-size: 1.2rem;
            font-weight: 700;
            padding: 1rem 0;
            padding-left: 3rem;
            padding-right: 2rem;
            border-radius: 2rem;
            display: inline-block;
            position: absolute;
            top: 21rem;
            left: 50%;
            transform: translateX(-50%);

            @include size(600) {
                top: 28rem;
            }

            @include size(500) {
                top: 33rem;
            }


            @include size(400) {
                top: 39rem;
            }

            &::before {

                content: "";
                background: $color-primary;
                border-radius: 50%;
                height: .5rem;
                width: .5rem;
                left: 1.5rem;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);

            }
        }

        &-home {
            .headline--primary {
                position: relative;
                padding-left: 2.5rem;
                display: flex;

                @include size(1100) {
                    padding-left: 0;
                }

                @include size(1050) {
                    padding-left: 2rem;

                }

                @include size(700) {
                    flex-direction: column;

                }


                &::after {
                    position: absolute;
                    content: "";
                    background: rgba($color-text, 0.3);
                    left: 0;
                    top: 50%;
                    width: 1rem;
                    height: 0.3rem;
                    transform: translateY(-50%);

                    @include size(1100) {
                        display: none;
                    }
                }
            }
        }

        &-page {
            .headline--primary {
                width: 68rem;
                margin: auto;

                @include size(900) {
                    width: 100%;
                }
            }
        }

        .breadcrumb {
            display: flex;

            a, span, p {
                font-size: 1.4rem;
                font-weight: 700;
            }

            span {
                margin: 0 1rem;
            }

            a {
                color: $color-primary;
            }
        }

        &-cont {
            &:nth-child(1) {
                width: 65rem;
                padding-top: 6rem;

                @include size(1350) {
                    padding-top: 3rem;
                }

                @include size(700) {
                    width: 100%;
                    text-align: center;
                }

            }

            &:nth-child(2) {
            }
        }

        .js-search-form {
            background-color: white;
            padding: 1.5rem 0;
            padding-left: 4rem;
            padding-right: 2rem;
            margin-top: 5.5rem;
            border-radius: 0.2rem;
            display: grid;
            grid-template-columns: 1fr repeat(2, 27rem) min-content;
            box-shadow: 0 3rem 3rem rgba(#808080, 0.05);
            position: relative;

            @include size(1000) {
                grid-template-columns: 1fr repeat(2, 27rem);
                grid-template-rows: 1fr 1fr;
                row-gap: 2rem;
                margin-top: 8rem;
            }

            @include size(900) {
                grid-template-columns: 1fr 27rem;
            }

            @include size(700) {
                grid-template-columns: 1fr 1fr;
            }

            @include size(500) {
                grid-template-columns: 1fr;
            }

            @include size(400) {
                padding-left: 2rem;

            }


            &__drop {
                position: absolute;
                right: 3rem;
                width: 1.4rem;


                @include size(400) {
                    right: 0rem;

                }
            }

            &-name {
                position: absolute;
                left: 1rem;
                top: -3rem;
                background-color: $color-primary;
                color: white;
                width: 13.5rem;
                height: 3rem;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1.3rem;
                font-weight: 700;
                border-top-right-radius: 0.2rem;
                border-top-left-radius: 0.2rem;
            }

            button {
                @include size(1000) {
                    grid-column: 3 / 4;
                    grid-row: 2 / 3;
                    justify-self: flex-end;
                }

                @include size(900) {
                    grid-column: 2 / 3;
                }

                @include size(700) {
                    grid-row: 3 / 4;
                    grid-column: 2 / 3
                }

                @include size(500) {
                    grid-row: 4 / 5;
                    grid-column: 1 / 2;
                }
            }

            .cont {
                display: flex;
                position: relative;
                align-items: center;

                &:nth-of-type(1) {
                    @include size(1000) {
                        grid-column: 1 / 2;
                    }

                    @include size(700) {
                        grid-column: 1 / -1;
                    }

                }

                &:nth-of-type(2) {
                    @include size(900) {
                        grid-row: 2 / 3;
                        width: 24rem;

                        select {
                            padding-left: 4rem;
                        }

                        &::before {
                            display: none;
                        }

                        .js-search-form__ico {
                            left: 0 !important;
                        }
                    }
                    @include size(700) {
                        grid-column: 1 / 2;
                        width: 100%;
                    }


                }

                &:nth-of-type(3) {
                    @include size(700) {
                        grid-row: 2 / 3;
                        grid-column: 2 / 3;
                    }

                    @include size(500) {
                        grid-row: 3 / 4;
                        grid-column: 1 / 2;

                        select {
                            padding-left: 4rem;
                        }

                        &::before {
                            display: none;
                        }

                        .js-search-form__ico {
                            left: 0 !important;
                        }
                    }
                }


                &:nth-of-type(2), &:nth-of-type(3) {
                    position: relative;

                    .js-search-form__ico {
                        left: 3rem;

                    }

                    &::before {
                        position: absolute;
                        left: 0rem;
                        background-color: rgba($color-light-text, 0.2);
                        height: 4rem;
                        width: 0.2rem;
                        content: "";
                        top: 50%;
                        transform: translateY(-50%);
                    }

                }
            }

            &__ico {
                position: absolute;
                width: 2rem;
                left: 0rem;
            }

            ::placeholder {
                color: $color-light-text;
            }

            .js-search-input {
                border: none;
                font-size: 1.6rem;
                font-weight: 700;
                background: transparent;
                height: 5rem;
                outline: none;
                font-family: $base-font;
                color: $color-text;
                width: 100%;

            }

            select {
                outline: none;
                font-family: $base-font;
                border: none;
                font-size: 1.6rem;
                font-weight: 700;
                padding-right: 5.5rem;
                color: $color-light-text;
                appearance: none;
                z-index: 5;
                width: 100%;
                height: 5rem;
                background-color: transparent;
                cursor: pointer;

            }
        }

    }

}
