.main-home {
    margin-top: 10rem;

    @include size(1050) {
        margin-top: 5rem;
    }
}

.main-content {

    .maxW {
        display: flex;

        @include size(1000) {
            flex-direction: column;
        }
    }

    .filter {

        width: 31rem;

        @include size(1000) {
            display: flex;
            width: 100%;
        }

        @include size(600) {
            flex-direction: column;
        }

        &-item {

            background-color: $color-light-purple;
            padding: 2.5rem;
            border-radius: 0.2rem;

            @include size(1000) {
                flex: 1;
            }

            @include size(400) {
                padding: 1.5rem;
            }

            &:not(:last-child) {
                margin-bottom: 3rem;

                @include size(1000) {
                    margin-bottom: 0;
                    margin-right: 3rem;
                }

                @include size(600) {
                    margin-bottom: 3rem;
                    margin-right: 0rem;
                }
            }

            &-list {

                list-style: none;


                &__item {

                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    color: $color-primary;
                    font-size: 1.4rem;
                    font-weight: 600;
                    cursor: pointer;

                    &:not(:last-child) {
                        margin-bottom: 1.5rem;
                    }

                    span {
                        border-radius: 50%;
                        width: 3rem;
                        height: 3rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 1.1rem;
                        font-weight: 600;
                        color: $color-primary;
                        background-color: $color-purple;
                    }

                }

            }

        }

    }

    .results {
        width: calc(100% - 34.5rem);
        margin-left: 3.5rem;

        @include size(1000) {
            margin-left: 0;
            width: 100%;
            margin-top: 3rem;
        }

        &-header {

            display: flex;
            align-items: center;
            justify-content: space-between;

            @include size(600) {
                flex-direction: column;
                align-items: flex-start;
            }

        }

        &__filter {

            display: flex;
            align-items: flex-end;

            @include size(600) {
                margin-top: 3rem;
                align-self: flex-end;
            }


            @include size(360) {
                flex-wrap: wrap;
                justify-content: flex-end;
            }

            .text {
                @include size(360) {
                    width: 100%;
                    margin-bottom: 2rem;
                }
            }

            div {


                &:not(:last-child) {
                    margin-right: 2rem;

                }
            }

            &-item {
                font-weight: 700;
                color: $color-primary;
                display: flex;
                align-items: center;
                font-size: 1.4rem;
                cursor: pointer;

                &[data-sort-opacity="none"] {
                    img {
                        opacity: .3;
                    }
                }

                &[data-sort-opacity="top"] {
                    img {
                        &:nth-child(2) {
                            opacity: .3;
                        }
                    }
                }

                &[data-sort-opacity="bottom"] {
                    img {
                        &:nth-child(1) {
                            opacity: .3;
                        }
                    }
                }

                &__icons {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    margin-left: 1rem;

                    img {

                        width: 1rem;

                        &:first-child {
                            margin-bottom: .6rem;
                            transform: rotate(180deg);
                        }


                    }
                }
            }

        }

        &-body {
            .result {
                background: white;
                border: 0.1rem solid rgba($color-light-text, 0.2);
                padding: 2.5rem;
                position: relative;

                @include size(500) {
                    height: 25rem;
                }

                @include size(400) {
                    height: 35rem;
                    padding: 1.5rem;

                }

                &:not(:last-child) {
                    margin-bottom: 3rem;
                }

                &-category {
                    background: $color-light-blue;
                    color: $color-blue;
                    font-size: 1.2rem;
                    font-weight: 700;
                    padding: 1rem 0;
                    padding-left: 3rem;
                    padding-right: 2rem;
                    border-radius: 2rem;
                    display: inline-block;
                    position: relative;

                    &::before {

                        content: "";
                        background: $color-blue;
                        border-radius: 50%;
                        height: .5rem;
                        width: .5rem;
                        left: 1.5rem;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);

                    }
                }

                .cont {
                    display: flex;
                    align-items: center;
                }

                &__title {
                    color: $color-primary;
                    font-size: 1.6rem;
                    font-weight: 700;
                    display: inline-block;
                }

                &__icon {
                    width: 1.5rem;
                }


                &__show {

                    position: absolute;
                    right: 2.5rem;
                    bottom: 1.5rem;
                    z-index: 5;
                    font-size: 1.3rem;
                    color: $color-primary;
                    text-decoration: none;
                    font-weight: 700;

                    img {
                        z-index: -1;
                        right: -2.5rem;
                        bottom: -1.5rem;
                        width: 19rem;
                        position: absolute;
                    }
                }
            }
        }
    }

}
