<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap" rel="stylesheet">
    <title>E-Desky.cz</title>
    <link rel="icon" type="image/png" sizes="96x96" href="../assets/imgs/logo.png">
</head>
<body>
<header class="header header-home">
    <nav class="nav">
        <div class="maxW">
            <div class="logo">
                <img src="../assets/imgs/logo-main.svg" alt="logo">
                <p class="logo__text ml-1_5">E-<span>Desky.cz</span></p>
            </div>
            <!-- <ul class="menu">
                 <li class="menu__item menu__item--selected"><a href="/">Domů</a></li>
                 <li class="menu__item"><a href="#">O projektu</a></li>
                 <li class="menu__item"><a href="#">Kontakt</a></li>
             </ul> -->
        </div>
    </nav>
    <section class="hero hero-home mt-8">
        <div class="maxW">
            <div class="hero-helper">
                <div class="hero-cont">
                    <h1 class="headline headline--primary mb-2">Úřední deska
                        <div class="area-switcher">
                            <select class="js-region-select">
                                <option value="">Načítání ...</option>
                            </select>
                            <img src="../assets/imgs/arr-down-primary.svg" alt="">
                        </div>
                    </h1>
                    <p class="text text--big c-text-light">Jednoduše přístupná úřední deska s filtrováním výsledků.</p>
                </div>
                <div class="hero-cont">
                    <img src="../assets/imgs/hero-illustration.svg" class="hero__img" alt="Úvodní ilustrace - monitor">
                </div>
            </div>
            <form class="js-search-form">
                <span class="js-search-form-name">Vyhledávání</span>
                <div class="cont">
                    <img src="../assets/imgs/search.svg" class="js-search-form__ico" alt="Ikona vyhledávání">
                    <input type="text" placeholder="Zadej název" class="js-search-input pl-4 pr-3">
                </div>
                <div class="cont">
                    <img src="assets/imgs/user.svg" class="js-search-form__ico" alt="Ikona Autora">
                    <select class="js-source-select pl-8">
                        <option value="">Autor</option>
                    </select>
                    <img src="assets/imgs/arr-down.svg" class="js-search-form__drop" alt="Šipka dolů">
                </div>
                <div class="cont">
                    <img src="assets/imgs/kategorie.svg" class="js-search-form__ico" alt="Ikona kategorie">
                    <select class="js-category-select pl-8">
                        <option value="">Kategorie</option>
                    </select>
                    <img src="assets/imgs/arr-down.svg" class="js-search-form__drop" alt="Šipka dolů">
                </div>
                <button class="btn btn--primary">Vyhledej</button>
            </form>
        </div>
    </section>
</header>
<main class="main main-home">
    <section class="main-content">
        <div class="maxW">
            <div class="filter mb-2_5">
                <div class="filter-item">
                    <h2 class="headline headline--secondary mb-2">Kategorie</h2>
                    <ul class="filter-item-list js-category-side">
                    </ul>
                </div>
                <div class="filter-item">
                    <h2 class="headline headline--secondary mb-2">Autor</h2>
                    <ul class="filter-item-list js-sources-side">
                    </ul>
                </div>
            </div>

            <div class="results">
                <div class="results-header mb-2_5">
                    <h2 class="headline headline--secondary">Nalezeno <span class="js-results-count">0</span> výsledků
                    </h2>
                    <div class="results__filter">
                        <p class="text text--medium bold mr-2">Seřadit podle:</p>
                        <div class="results__filter-item js-results-sort-by" data-sort-by="title"
                             data-current-sort="none" data-sort-opacity="bottom">
                            Názvu
                            <span class="results__filter-item__icons">
                                <img src="../assets/imgs/arr-down-primary.svg"
                                     alt="Šipka nahoru">
                                <img src="../assets/imgs/arr-down-primary.svg"
                                     alt="Šipka dolů">
                            </span>
                        </div>
                        <div class="results__filter-item js-results-sort-by" data-sort-opacity="none"
                             data-sort-by="published_datetime"
                             data-current-sort="desc">
                            Zveřejnění
                            <span class="results__filter-item__icons">
                                <img src="../assets/imgs/arr-down-primary.svg"
                                     alt="Šipka nahoru">
                                <img src="../assets/imgs/arr-down-primary.svg"
                                     alt="Šipka dolů">
                            </span>
                        </div>
                    </div>
                </div>
                <div class="results-body js-results-wrapper">
                </div>
            </div>
        </div>
    </section>
</main>

</body>
</html>
