<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap" rel="stylesheet">
    <title>App</title>
</head>
<body>
<header class="header header-page">
    <nav class="nav">

        <div class="maxW">
            <div class="logo">
                <img src="../assets/imgs/logo.svg" alt="logo">
                <p class="logo__text ml-1_5">Hledač.<span>io</span></p>
            </div>
            <ul class="menu">
                <li class="menu__item menu__item"><a href="/">Domů</a></li>
                <li class="menu__item"><a href="#">O projektu</a></li>
                <li class="menu__item"><a href="#">Kontakt</a></li>
            </ul>
        </div>
    </nav>
    <section class="hero hero-page mt-8">
        <div class="maxW">
            <div class="breadcrumb">
                <a href="/">Domů</a>
                <span>/</span>
                <p>Výsledek hledání</p>
            </div>
            <h1 class="headline headline--primary t-center pt-6 js-detail-title">Tento záznam nebyl nalezen</h1>
            <div class="hero-category js-detail-category">
                -----
            </div>
        </div>
    </section>
</header>
<main class="main mt-5_5">
    <section class="one-result">
        <div class="maxW">

            <div class="grid js-detail-details-table">
                
            </div>
        </div>
    </section>
</main>

</body>
</html>
